<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pasta Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pasta Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="pasta?.name">
    <img [src]="pasta.url" alt="{{ pasta.name }}" style="width: 100%; height: auto;">
    <ion-card-header>
      <ion-card-title>{{ pasta.name }}</ion-card-title>
      <ion-card-subtitle>
        <p><strong>Rp {{ pasta.price }}</strong></p>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ pasta.description }}</p>

      <ion-label>Pasta Recipe Instruction:</ion-label>
      <ol>
        <li *ngFor="let ins of pasta.instructions">
          {{ ins.instruction }}
        </li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
