<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">List</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list lines="full">
        <ion-item>
            <ion-input labelPlacement="floating" label="Masukkan kode : " [(ngModel)]="couponcode" (keyup)="checkValid()">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-text><span [ngStyle]="{'color': textcolor, 'font-size': fontsize}">Coupon code {{ couponcode }} is
                    {{ strvalid }} you get {{ discount }}% discount</span></ion-text>
        </ion-item>
        <ion-img *ngIf="strvalid=='Valid'"
            src="https://www.animatedimages.org/data/media/1103/animated-congratulation-image-0092.gif"></ion-img>

    </ion-list>



    <ion-list lines="full">
        <ion-item>
            <ion-text>
                Product List per {{ today_ind() }}
            </ion-text>
            <ion-button size="small" (click)="goYesterday()" [disabled]="is5daysago">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="reset()">
                <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="goTomorrow()" [disabled]="is5dayslater">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>

        </ion-item>

    </ion-list>
    <ion-list lines="full">
        <ion-item>
            <ion-text>
                Product Name <b>{{ product . productName }}</b>
            </ion-text>
        </ion-item>
    </ion-list>
    <ion-list lines="full">
        <ion-item>
            <ion-text>
                Product Price <b>Rp {{ product . productPrice }}</b>
            </ion-text>
        </ion-item>
    </ion-list>
    <ion-list lines="full">
        <ion-item>
            <ion-text>
                Quantity
            </ion-text>
            <ion-button size="small" (click)="reduceQuantity()">
                <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <ion-text>
                <b>{{ product . productQuantity }}</b>
            </ion-text>

            <ion-button size="small" (click)="addQuantity()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
    <ion-list lines="full">
        <ion-item>
            <ion-text>
                Total Amount <b>Rp {{ productAmount }}</b>
            </ion-text>
        </ion-item>
    </ion-list>

    <ion-list *ngFor="let book of books">
        <ion-img [src]="book.image"></ion-img>
        <ion-list-header>
            <ion-label>
                <h1>{{ book . title }}</h1>
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Author : {{ book . author }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Discount : {{ book . discount }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label *ngIf="book.discount === 0">Price : ${{ book . price }}</ion-label>
            <ion-label *ngIf="book.discount !== 0" style="text-decoration: line-through;">Price :
                ${{ book . price }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label *ngIf="book.discount !== 0">Price :
                ${{ (book.price - (book.price * book.discount / 100)) - ((book.price * discount / 100)) }}</ion-label>
        </ion-item>
    </ion-list>



</ion-content>
